{{> header}}
    <div class="container">
        <h1>Dioses</h1>

        {{#if dioses}}

            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Nombre</td>
                        <td>Cultura</td>
                        <td>Abilidades</td>
                        <td>Imagen</td>
                    </tr>
                </thead>
                <tbody>
                    {{#each dioses}}
                    <tr>
                        <td>{{__id}}</td>
                        <td>{{name}}</td>
                        <td>{{national}}</td>
                        <td>{{style}}</td>
                        <td><img src="../images/{{paint}}" alt=""></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        {{ else }}

            <div>No se encuentran resultados.</div>

        {{/if}}

    </div>
{{>footer}}